// ForgotPasswordPage.scss

.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .forgot-password-heading {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .forgot-password-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .forgot-password-input {
        padding: 10px;
        margin-bottom: 20px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;

        &:focus {
            border-color: #007bff;
        }
    }

    .forgot-password-submit {

        display: block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }

    .email-validation-message {
        margin-top: 10px;
        color: #dc3545; // Red color for error messages
        font-size: 14px;
    }
}